<div class="row">
    <div class="col-7">
        <img class="mt-5 ms-3" height="500px"
            src="https://th.bing.com/th/id/OIP.9vRCNb7pzbEgroOJHlyVRQHaI8?pid=ImgDet&rs=1"
            alt="">
    </div>
    <div class="col-5 mt-5">
        <form  class="border p-5 mt-5 me-5">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">User Name</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="mt-3 ms-4">
                <button  type="submit" class="btn btn-primary align-items-center"> login</button>
               
            </div>

        </form>
    </div>
</div>