<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <img height="25px" src="/src/app/imges/dtm.jpg" alt="no">
    <a class="navbar-brand fs-4 ms-5" routerLink="/">Datum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="searchBar collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item active ">
                <input class="inputField form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
            </li>
            <li class="nav-item ps-5 active">
                <button class="btn btn-primary">Search</button>
            </li>

        </ul>

        
    </div>
    <div>
        <a routerLink="signin"><i class="fa-solid fa-user me-5"></i></a>
    </div>
    
</nav>