<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div>
                    <img height="100px" class="ms-5"
                        src="https://i.pinimg.com/originals/63/e9/11/63e911849cd094c5540e48c039ddd319.jpg"
                        alt="no imges">
                </div>
                <div class="card-body">
                    <h5 class="card-title ms-3">Ferrero Bouquet</h5>
                    <a routerLink="view/:id" class="btn btn-primary ms-5 text-center"><i class="fa-solid fa-eye"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div>
                    <img height="100px" class="ms-5"
                        src="https://i.pinimg.com/originals/1a/78/50/1a7850d82cd4c2444ffc1229e0a05290.jpg"
                        alt="no imges">
                </div>
                <div class="card-body">
                    <h5 class="card-title ms-3">Birthday hamper</h5>
                    <a routerLink="view" class="btn btn-primary ms-5 text-center"><i class="fa-solid fa-eye"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div>
                    <img height="100px" class="ms-5"
                        src="https://i.etsystatic.com/24806041/r/il/2965c7/3165759557/il_fullxfull.3165759557_ozgc.jpg"
                        alt="no imges">
                </div>
                <div class="card-body">
                    <h5 class="card-title ms-3">Birthday shirt hamper</h5>
                    <a routerLink="view" class="btn btn-primary ms-5 text-center"><i class="fa-solid fa-eye"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div>
                    <img height="100px" class="ms-5"
                        src="https://i.pinimg.com/originals/63/e9/11/63e911849cd094c5540e48c039ddd319.jpg"
                        alt="no imges">
                </div>
                <div class="card-body">
                    <h5 class="card-title ms-3">Ferrero Bouquet</h5>
                    <a routerLink="view" class="btn btn-primary ms-5 text-center"><i class="fa-solid fa-eye"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div>
                    <img height="100px" class="ms-5"
                        src="https://i.pinimg.com/originals/1a/78/50/1a7850d82cd4c2444ffc1229e0a05290.jpg"
                        alt="no imges">
                </div>
                <div class="card-body">
                    <h5 class="card-title ms-3">Birthday hamper</h5>
                    <a routerLink="view" class="btn btn-primary ms-5 text-center"><i class="fa-solid fa-eye"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div>
                    <img height="100px" class="ms-5"
                        src="https://i.etsystatic.com/24806041/r/il/2965c7/3165759557/il_fullxfull.3165759557_ozgc.jpg"
                        alt="no imges">
                </div>
                <div class="card-body">
                    <h5 class="card-title ms-3">Birthday shirt hamper</h5>
                    <a routerLink="view" class="btn btn-primary ms-5 text-center"><i class="fa-solid fa-eye"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div>
                    <img height="100px" class="ms-5"
                        src="https://i.pinimg.com/originals/63/e9/11/63e911849cd094c5540e48c039ddd319.jpg"
                        alt="no imges">
                </div>
                <div class="card-body">
                    <h5 class="card-title ms-3">Ferrero Bouquet</h5>
                    <a routerLink="view" class="btn btn-primary ms-5 text-center"><i class="fa-solid fa-eye"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div>
                    <img height="100px" class="ms-5"
                        src="https://i.pinimg.com/originals/1a/78/50/1a7850d82cd4c2444ffc1229e0a05290.jpg"
                        alt="no imges">
                </div>
                <div class="card-body">
                    <h5 class="card-title ms-3">Birthday hamper</h5>
                    <a routerLink="view" class="btn btn-primary ms-5 text-center"><i class="fa-solid fa-eye"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div>
                    <img height="100px" class="ms-5"
                        src="https://i.etsystatic.com/24806041/r/il/2965c7/3165759557/il_fullxfull.3165759557_ozgc.jpg"
                        alt="no imges">
                </div>
                <div class="card-body">
                    <h5 class="card-title ms-3">Birthday shirt hamper</h5>
                    <a routerLink="view" class="btn btn-primary ms-5 text-center"><i class="fa-solid fa-eye"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>